<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>EJS Cat Data</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
    </head>
    <body>
        <h2>EJS Cats</h2>
        <a href="/cheetah"><img class="cat-pic" src="../images/cheetah.jpg" alt="Cheetah"></a>
        <a href="/panther"><img class="cat-pic" src="../images/panther.jpg" alt="Panther"></a>
        <a href="tiger"><img class="cat-pic" src="../images/tiger.jpg" alt="Tiger"></a>
    </body>
</html>